<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.enterprisecrm.mapper.IncludeMapper">
    <resultMap id="IncludeMap" type="com.example.enterprisecrm.entity.Include">
        <id column="id" property="id" />
        <result column="order_id" property="oid"/>
        <result column="product_id" property="pid"/>
        <result column="product_num" property="pnum"/>
    </resultMap>
</mapper>