<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.enterprisecrm.mapper.ManageMapper">
    <resultMap id="ManageMap" type="com.example.enterprisecrm.entity.Manage">
        <id column="user_id" property="uid"/>
        <result column="customer_id" property="cid"/>
        <result column="manipulate" property="manipulate"/>
        <result column="manipulate_type" property="type"/>
    </resultMap>
</mapper>